---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query GitHub__Query($username: String!) {\n  user(login:
        $username) {\n    name\n    repositories(first: 100, orderBy: {field: PUSHED_AT,
        direction: DESC}) {\n      nodes {\n        name\n      }\n    }\n  }\n}","variables":{"username":"vhreva"},"operationName":"GitHub__Query"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 4a3236f1a0e2eee0426a39a112130c4160157f14
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1612722380'
      X-Ratelimit-Used:
      - '4'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"user":{"name":"Vitaliy Hreva","repositories":{"nodes":[{"name":"rails-graphql-github"},{"name":"rails-practice"}]}}}}'
  recorded_at: Sun, 07 Feb 2021 17:28:10 GMT
recorded_with: VCR 6.0.0
